@using SeyehatRehber.Models.Entity
@model List<Yorumlar>
@{
    ViewBag.Title = "YorumListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<link href="~/web3/styles/icon-font.min.css" rel="stylesheet" />
<div class="card-box container">

    <div class="pb-20">
        <table style="color:#212529 !important" class="data-table table table-bordered stripe hover nowrap">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">ID</th>
                    <th>Kullanıcı Adı</th>
                    <th>Mail</th>
                    <th>Yorum</th>
                    <th>Blog</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <th>@x.ID</th>
                        <td>@x.KULLANICIADI</td>
                        <td>@x.MAIL</td>
                        <td>@x.YORUM</td>
                        <td>@x.BLOG.BASLIK</td>
                        <td><a href="/Admin/YorumSil/@x.ID" class="btn btn-danger">Sil</a></td>
                        <td><a href="/Admin/YorumDetay/@x.ID" class="btn btn-warning">Güncelle</a></td>
                    </tr>
                }

        </table>
    </div>
</div>